.navbar {
    background-color: #37517e;

    .container-fluid {
        a {
            color: white;
        }
    }
    .nav-link{

    }
    .nav-link:hover{
        color: skyblue;
    }
}

#home1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 70px;
    background-color: rgb(132, 132, 209);

    /* border: 2px black solid; */
    #div1 {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: start;
        padding: 0px 30px;

        #d1 {
            font-size: 53px;
            color: white;
            text-align: start;
        }

        #d2 {
            font-size: 30px;
        }

        #div2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 20px;
            gap: 20px;

            button {
                border-radius: 10px;
                padding: 07px;
                text-align: start;
                gap: 10px;

            }

            a {
                font-size: 25px;
                color: white;
                text-decoration: none;
            }

            a:hover {
                color: skyblue;
            }
        }

    }
}

#home-img {
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-style: preserve-3d;
}

@keyframes rotate {
    0% {
        transform: translateY(0PX);
    }

    50% {
        transform: translateY(-10PX);
    }

    100% {
        transform: translateY(0PX);
    }

}


.slick-slide {
    margin: 30px 35px;
}

.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #a1 {
        font-size: 50px;
        border-bottom: 2px rgba(128, 128, 128, 0.97) solid;
    }

    #a1::after {
        content: "";
        border: 1px rgba(0, 0, 128, 0.811) solid;
        width: 50%;
        display: block;
        margin: 0 auto;
    }

}

#abt1 {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    padding: 50px;

    #abt12 {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        /* padding: 10px 50px;  */

        p {
            width: 100%;
            font-size: 18px;
        }

        #tick1 {
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: center;

            p {
                font-size: 18px;

                img {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }

    #abt2 {
        display: flex;
        flex-direction: column;
        align-items: start;
        align-items: start;
        gap: 10px;
        font-size: 18px;
        width: 60%;

        /* p {
                width: 80%; 
                font-size: 20px;
                padding: 10px 10px; 
            } */

        .btn {
            border: 2px rgb(54, 159, 201) solid;
            border-radius: 5px;
            width: 160px;
            height: 40px;
            cursor: pointer;
            color: skyblue;
            font-size: 18px;
            font-weight: bold;
        }

        .btn:hover {
            background: skyblue;
            color: white;
        }
    }
}

#home2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
     padding: 0px 70px; 
     gap: 30px; 
    border: 2px lightblue solid;
    background-color: rgb(243, 247, 248);

    #d6 {

        #d7 {
            font-size: 35px;
            color: #3d4d6a;
            margin-bottom: 10px;
        }

        #d8 {
            margin-bottom: 10px;
        }

        .accordion {
            .accordion-item {
                margin-bottom: 30px;

                .accordion-header {
                    margin-bottom: 0;
                    padding-bottom: 0;

                    button {
                        border: none;
                        background: none;
                        outline: none;
                        box-shadow: none;
                    }

                    button:hover {
                        color: blue;
                    }

                    button:not(.collapsed) {
                        color: blue;
                    }
                }

                .accordion-collapse {
                    margin-top: 0;
                    padding-bottom: 0px;
                }
            }
        }


    }
}

#skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    width: 100%;

    #s1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #s2 {
        padding: 0px 20px;
        gap: 20px;

        #p {
            font-size: 30px;
            color: #37517e;
        }

        #p1 {
            font-size: 20px;
        }

        #s3 {
            gap: 20px;

            .progress {
                height: 10px;
            }

            .progress-bar {
                gap: 20px;
                background-color: #37517e;
            }

            #h1 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f6f8;
    gap: 20px;

    #s10 {
        font-size: 50px;
        border-bottom: 2px rgb(128, 128, 128) solid;
    }

    #s10::after {
        content: "";
        border: 1px rgba(0, 0, 128, 0.936) solid;
        width: 50%;
        display: block;
        margin: 0 auto;
    }

    .row {
        padding: 20px 40px;

        #p {
            font-size: 20px;
        }


        .card {
            padding: 10px 20px;

            .card-img-top {
                height: 60px;
                width: 60px;
            }

            .card-body {
                #card-title {
                    color: navy;
                    font-size: 20px;
                }



                .card-text {
                    font-size: 18px;

                }
            }

        }
    }

    .card:hover {
        animation-name: rotate;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        transform-style: preserve-3d;

        .card-img-top {
            height: 60px;
            width: 60px;
        }

        .card-body {
            #card-title {
                color: skyblue;
            }

            .card-text {
                font-size: 20px;

            }
        }
    }

}

.call {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 130px;
    gap: 20px;
    background-image: url("./bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    #call-1 {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;

        #call-head {
            font-size: 35px;
            text-align: start;
            color: white;
        }

        #call-sub {
            font-size: 20px;
            color: white;
        }
    }

    .c1 {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;

        button {
            width: 160px;
            height: 40px;
            border-radius: 20px;
        }

        button:hover {
            color: white;
            background-color: skyblue;
        }
    }
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #f5f6f8; */
    gap: 25px;

    #p1 {
        font-size: 50px;
        border-bottom: 2px rgb(128, 128, 128) solid;
    }

    #p1::after {
        content: "";
        border: 1px rgba(0, 0, 128, 0.936) solid;
        width: 50%;
        display: block;
        margin: 0 auto;
    }

    #port-head {
        font-size: 18px;
    }

    #photos {
        button {
            border-radius: 40px;
            height: 40px;
            width: 80px;
        }

        button:hover {
            background-color: skyblue;
            color: white;
        }
    }
}

#folio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;

    #folio1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    #folio2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    #folio3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

#team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 60px 0px;

    #d23 {
        font-size: 30px;
        color: #37517e;
        font-weight: bold;
        border-bottom: 2px grey solid;
    }

    #d23::after {
        content: "";
        width: 50%;
        display: block;
        margin: 0 auto;
        border: 0.5px rgb(38, 159, 207) solid;
    }

    #picture {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;

        #pic1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border: 2px grey solid;
            padding: 20px;
            gap: 15px;

            img {
                border-radius: 80px;
            }

            #p2 {
                #d26 {
                    font-size: 20px;
                    color: #3d4d6a;
                    font-weight: bold;
                }

                #d30 {
                    flex-direction: row;
                    display: flex;
                    gap: 5px;
                    font-size: 20px;
                    color: grey;


                    #i {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        border: 2px white solid;
                        border-radius: 100px;
                        height: 35px;
                        width: 35px;
                        background-color: rgb(218, 212, 212);
                    }

                    #i:hover {
                        background-color: deepskyblue;
                        cursor: pointer;
                        color: white;
                    }

                }
            }
        }

    }
}


#pic1:hover {
    animation-name: rotate;
    transform-style: preserve-3d;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.Pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    #prize {
        font-size: 30px;
        color: #37517e;
        font-weight: bold;
        border-bottom: 2px grey solid;
    }

    #prize::after {
        content: "";
        width: 50%;
        display: block;
        margin: 0 auto;
        border: 0.5px rgb(38, 159, 207) solid;
    }

}

#status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    #stater {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px rgba(128, 128, 128, 0.785) solid;
        gap: 30px;
        padding: 40px;

        h4 {
            color: #37517e;
        }

        #price {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: end;

            #symbol {
                font-size: 50px;
            }

            #month {
                font-size: 40px;
                color: skyblue;
            }
        }
    }

    #matter {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        #about1 {
            font-size: 20px;
        }

        #about2 {
            font-size: 30px;
            align-items: self-start;
        }

        #about3 {
            font-size: 20px;
        }

        #about4 {
            font-size: 20px;
        }

        #about5 {
            font-size: 20px;
        }

        button {
            font-size: 20px;
            color: skyblue;
        }

        button:hover {
            background-color: white;
            color: skyblue;
        }
    }
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;

    h2 {
        color: rgb(96, 53, 136);
        border-bottom: 1px grey solid;
        gap: 10px;
        font-weight: bold;
    }

    h2::after {
        content: "";
        border: 2px skyblue solid;
        width: 50%;
        display: block;
        margin: 0 auto;
        gap: 5px;
    }

    p {
        font-size: 20px;
        color: gray;
    }

    #carouselExampleAutoplaying {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px auto;

        .carousel-inner {
            .carousel-item {

                /* display: flex;
                align-items: center; */
                img {
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                }

                #im-head {
                    color: rgb(84, 84, 118);
                    font-weight: bold;
                    font-size: 25px;
                }

                #im-head {
                    color: rgb(84, 84, 118);
                    font-weight: bold;
                    font-size: 25px;
                }

                #im-head1 {
                    color: grey;
                    font-weight: 500;
                }

                #im-text {
                    display: flex;
                    align-items: center;
                    color: grey;
                    font-size: 20px;
                    width: 80%;
                    padding-left: 200px;

                    #cama {
                        font-size: 40px;
                        color: #47b2e4;

                    }
                }
            }

        }
    }
}

.asked {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color:  rgb(243, 247, 248);

    #ask1 {
        font-size: 30px;
        color: #37517e;
        font-weight: bold;
        border-bottom: 2px grey solid;
    }

    #ask1::after {
        content: "";
        width: 50%;
        display: block;
        margin: 0 auto;
        border: 0.5px rgb(38, 159, 207) solid;
    }

    #ask2 {
        font-size: 15px;
    }


    #accordionPanelsStayOpenExample {
        

         width: 1000px; 

        .accordion-item {
            margin-bottom: 30px;

            .accordion-header {
                margin-bottom: 0;
                padding-bottom: 0;

                button {
                    border: none;
                    background: none;
                    outline: none;
                    box-shadow: none;
                }

                button:hover {
                    color: blue;
                }

                button:not(.collapsed) {
                    color: blue;
                }
            }

            .accordion-collapse {
                margin-top: 0;
                padding-bottom: 0px;
            }
        }
    }
}

    #contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px; 
        gap: 50px;
     
        #d23{
           font-size: 30px;
           color: #37517e;
           font-weight: bold;
           border-bottom: 2px grey solid;
        }
     
        #d23::after{
           content: "";
           width: 50%;
           display: block;
           margin: 0 auto;
           border: 0.5px rgb(38, 159, 207) solid;
        }
     
        #google{
           display: flex;
           flex-direction: row;
           align-items: center;
           justify-content: center;
           gap: 40px;
     
           #g1{
              display: flex;
              flex-direction: column;
              align-items: start;
              justify-content: start;
              border-top: 4px deepskyblue solid;
              border-bottom: 4px white solid;
              padding: 50px 80px; 
              gap: 30px;
     
              #add{
                 display: flex;
                 flex-direction: row;
                 align-items: start;
                 justify-content: start;
                 gap: 15px;
     
                 #k1{
                       display: flex; 
                       align-items: center;
                       justify-content: center;
                       font-size: 20px;
                       color: skyblue;
                       border-radius: 50px;
                       background-color: rgb(217, 235, 241);
                       height: 40px;
                       width: 40px;
                    }
     
                 #add1{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
     
                    #k2{
                       color: #3d4d6a;
                       font-weight: bold;
                       font-size: 18px;
                    }
                 }
     
                 #k1:hover{
                    color: white;
                    background-color: deepskyblue;
                 }
              }
           }
     
           #g2{
              border-top: 4px deepskyblue solid;
              padding: 110px 29px;
           }
        }
     }

.join{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
    background-color: rgb(243, 247, 248);
    #j1{
        font-size: 30px;
        color: #37517e;
       }
       #j2{
        font-size: 15px;
       }


.input-group {
    display: flex;
    align-items: center;
    width: 400px;

    input {
        width: 300px;
        border-radius: 20px;
        padding-left: 200px;
        height: 40px;
        border: 2px grey solid;
    }

    .btn {
        height: 40px;
        border-radius: 20px;
    }
}
}

.last {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 100px;
    border-bottom: 1px gainsboro solid;
    padding:40px;

    #last1 {
        h2 {
            color: #37517e;
        }

        p {
            color: grey;
        }
    }

    #usa1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        /* padding: 20px 40px; */

        #last2 {
            /* gap: 50px; */

            h4 {
                color: #37517e;
            }

            ol {
                list-style-type: none;
                flex-direction: row;
                cursor: pointer;

                img {
                    height: 20px;
                }
            }

            li:hover {
                color: #47b2e4;
            }
        }

        #last3 {
            gap: 20px;

            h4 {
                color: #37517e;

            }

            #last31 {
                font-size: 16px;
                gap: 20px;
                width: 80%;
            }

            #social {
                gap: 20px;
                color: gray;

                i {
                    font-size: 20px;
                    color: gray;
                    border-radius: 50%;
                    padding: 10px 10px;
                    border: 2px grey solid;

                }

                i:hover {
                    border: 2px #47b2e4 solid;
                    color: #47b2e4;
                }
            }

        }
    }

}

.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 10px;
    /* padding: 30px; */

    p {
        color: #47b2e4;
    }
}

#bottom1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 15px;

    #bot {
        /* padding: 35px; */
        color: #47b2e4;
    }
}
 
@keyframes appear{
    from{
        opacity: 0;
        transform: translateY(0px);
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1) ;
    }
}
#a1{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
@keyframes progressBarcompletion{
    from{
        opacity: 0;
        clip-path: inset(0% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}
.progress{
    animation: progressbarcompletion linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}